<template name="navigation">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                {{#animate type="rubberBand" delay="200"}}
                <a class="navbar-brand" href="{{pathFor route='home'}}">TODO Meteor</a>
                {{/animate}}
            </div>
            <ul class="nav navbar-nav">
                <li class="{{maybeSelected}}"><a class="{{maybeSelected}}" href="{{pathFor route='home'}}">Home</a></li>
                <li class="{{maybeSelected}}"><a class="{{maybeSelected}}" href="{{pathFor route='about'}}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
        </div>
    </nav>
</template>