<template name="HomeTemplate" id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Todos & FullCalendar Test</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>Full Calendar</h3>
                <button class="refresh">Refresh</button>
                {{> calendarEdit }}
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Todo App</h3>
            </div>
        </div>
    </div>
</template>