<template name="HomeTemplate" id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Todos & FullCalendar Test</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>Full Calendar</h3>
                <!--<button class="refresh">Refresh</button>-->
                {{> calendarEdit }}
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Events todo App <a href="#" id="add-Event" class="create btn btn-Google pull-right"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a></h3>

                <ul class="list-group">
                    {{#transition in="zoomIn" out="bounceOut"}}
                        {{#each event}}
                            {{> eventList}}
                        {{/each}}
                    {{/transition}}
                </ul>
            </div>
        </div>
    </div>
    {{> createEvent}}
    {{> updateModal}}
</template>