<template name="taskItem" id="submitPostForm">
    <div class="container">
        {{#if currentUser}}
        <div class="row">
            <form id="edit-task" class="form-group col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="text" value="{{text}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="description">Description</label>
                        <textarea class="form-control" rows="4" name="description" id="description">{{description}}</textarea>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
</template>