<template name="taskes">
    <li class="list-group-item {{#if checked}} checked {{/if}}">
        <h4 class="list-group-item-heading">
            <div class="row">

                <div class="col-sm-10">
                    {{#if currentUser}}
                        {{#if isOwner}}
                            <span><input type="checkbox" checked="{{checked}}" class="toggle-checked"/></span>
                        {{/if}}
                    {{/if}}

                    {{#if currentUser}}
                        <a href="task/{{_id}}">{{text}}</a>
                    {{else}}
                        {{text}}
                    {{/if}}
                </div>

                <div class="col-sm-2">
                    {{#if currentUser}}
                        {{#if isOwner}}
                            <a class="toggle-private btn btn-default" href="#" role="button">
                                {{#if private}}
                                    <span class="visible glyphicon glyphicon glyphicon-eye-open text-danger pull-right" aria-hidden="true"></span>
                                {{else}}
                                    <span class="visible glyphicon glyphicon glyphicon-eye-close text-info pull-right" aria-hidden="true"></span>
                                {{/if}}
                            </a>
                            <a href="#" class="btn btn-default delete"><span class=" glyphicon glyphicon-trash text-danger pull-right" aria-hidden="true"></span></a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </h4>
        <p>{{ localizedDateAndTime createdAt }}</p>
        <p class="list-group-item-text">{{description}}</p>
    </li>
</template>